<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="Resources/icon.png">
    <link rel="stylesheet" href="CSS.css" type="text/css">
    
    <script>
        function okay(){
            alert("Your records have been submitted!");
        }
    </script>
</head>
<body>
    <p id="upper-logo"><img  id="upper-img" src="resources/sl.jpg" alt="sl" height="60px"> <img  id="upper-img" src="resources/pearl.png" alt="pearl" height="60px"><a href="sign up.html"><button class="upper-bton">sign up</button></a></p>
	<ul class="navigation-bar">
		<li class="navi-item"><a href="home.html"><img src="resources/navi/home.png" alt="home" width="20px" height="20px"> Home</a></li>
		<li class="navi-item" ><a href="about us.html"><img src="resources/navi/about icon.png" alt="about" width="20px" height="20px"> About Us</a></li>
        <li class="navi-item"><a href="contact us.html"><img src="Resources/navi/contact.png" alt="contact" width="20px" height="20px"> Contact Us</a> </li>
        <li class="navi-item"><a href="gallery.html"><img src="Resources/navi/gallery.png" alt="" width="20px" height="20px"> Gallery</a></li>
		<li class="navi-item" id="navi-item"><a href="#" class="dropdown"><img src="resources/navi/location.png" alt="location" width="20px" height="20px"> Province</a>
			<div class="dropdown-items">
				<a href="Sabaragamuwa.html">Sabaragamuwa Province</a>
				<a href="northern.html">Northern Province</a>
				<a href="western.html">Western Province</a>
				<a href="north central.html">North Central Province</a>
				<a href="north western.html">North Western Province</a>
				<a href="eastern.html">Eastern Province</a>
				<a href="central.html">Central Province</a>
				<a href="uva.html">Uva Province</a>
				<a href="southern.html">Southern Province</a>
			</div>
		
		</li>
	</ul>
    <div class="sign-up" id="sign">
        <h3>sign up now!</h3>
        <form action="/" method="get">
            <input type="text" placeholder="First Name" class="sign-detail" v-model="fname" required> <br>
            <input type="text" placeholder="Last Name" class="sign-detail" v-model="lname" required> <br>
            <input type="email" placeholder="E-Mail"  class="sign-detail" required> <br>
            <input type="text" placeholder="Phone Number" class="sign-detail" required>  <br>
            <button type="submit" value="submit" class="sign-bton" onclick="okay()">Sign Up</button>
        </form>
        Hello {{fname}} {{lname}}, you can get the latest travelling news to your email <br>  when you sign up here.
        
       
        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app= Vue.createApp({
                data:function(){
                    return{
                        fname:'',
                        lname:''
                    }
                }
            })
            app.mount('#sign')
        </script> 
    </div>
    

        <footer>
            <ul><div class="footer-main">
                <div class="footer-content"><a href="https://www.facebook.com/" target="_blank" > <img src="Resources/footer/fb.png" alt="fb" > Check out our facebook</a> </div>
                <div class="footer-content"> <a href="https://www.instagram.com/" target="_blank"> <img src="Resources/footer/instergram.png" alt="instergram"> Join our instergram</a> </div>
                <div class="footer-content"><a href="https://twitter.com/" target="_blank" > <img src="resources/footer/twitter.png" alt="twitter"> See what we tweet about</a> </div>
                <div class="footer-content"><a href="https://www.linkedin.com/" target="_blank"><img src="resources/footer/linkedin.png" alt="linkedin">Follow us on linkedin  </a> </div>
            </div>
            </ul>
            &copy; 2021 Pearl of the Indian Ocean by Dulshan Senadheera.  
            </footer>
    
</body>
</html>